<div class="mtheme-footer">
  <ul>
    <li>
      <a href="http://feeds.feedburner.com/TheNewsideaGhost">Get RSS feeds</a>
    </li>
    <li>
      <a href="//twitter.com/TheNewsGhost">Connect on Twitter</a>   
    </li>
    <li>
      <a href="/">{{@blog.title}}</a>      
    </li>
  </ul>
</div>
